name: "Build image"
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-25.11
    - uses: DeterminateSystems/magic-nix-cache-action@v13
    - name: Set version to GITHUB_SHA
      if: ${{ github.ref_type != 'tag' }}
      run: echo "version=${{ github.sha }}" >> $GITHUB_ENV
    - name: Set version to GITHUB_REF_NAME
      if: ${{ github.ref_type == 'tag' }}
      run: echo "version=${{ github.ref_name }}" >> $GITHUB_ENV
    - run: VERSION="${{ env.version }}" nix run .#build-firmware
    - uses: actions/upload-artifact@v6
      with:
        name: seedhammerii-${{ env.version }}.blah
        path: seedhammerii-${{ env.version }}.*
